<div class="container">
  <div class="card mt-5 w-75 align-content-center" style="width: 18rem">
    <div class="card-header text-center">Detail User</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nama : <%= contact.name %></li>
      <li class="list-group-item">Email : <%= contact.email %></li>
      <li class="list-group-item">Mobile Phone : <%= contact.mobile %></li>
    </ul>

    <a href="/contact" class="btn btn-dark">Kembali</a>
  </div>
</div>
